@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* Lighter theme
    --background: 240 20% 99%;
    --foreground: 240 10% 16%;
    --card: 240 20% 99%;
    --card-foreground: 240 10% 16%;
    --popover: 240 20% 99%;
    --popover-foreground: 240 10% 16%;
    --primary: 263 70% 40%;
    --primary-foreground: 240 20% 98%;
    --secondary: 145 45% 85%;
    --secondary-foreground: 263 70% 20%;
    --muted: 145 30% 90%;
    --muted-foreground: 263 15% 50%;
    --accent: 263 50% 94%; 
    --accent-foreground: 263 70% 40%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 263 30% 85%;
    --input: 263 30% 85%;
    --ring: 263 70% 40%;
    --chart-1: 263 70% 60%; 
    --chart-2: 145 58% 45%;
    --chart-3: 197 37% 30%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem; */

    --background: 274 92% 5%;
    --foreground: 236 100% 97%;
    --card: 263 70% 10%;
    --card-foreground: 240 30% 96%;
    --popover: 263 70% 10%;
    --popover-foreground: 240 30% 96%;
    --primary: 240 30% 96%;
    --primary-foreground: 263 70% 20%;
    --secondary: 145 40% 25%;
    --secondary-foreground: 240 30% 96%;
    --muted: 263 30% 20%;
    --muted-foreground: 240 20% 70%;
    --accent: 263 50% 15%;
    --accent-foreground: 240 30% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 30% 96%;
    --border: 263 40% 25%;
    --input: 263 40% 25%;
    --ring: 263 70% 50%;
    --chart-1: 263 70% 60%;
    --chart-2: 145 58% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .dark {
    --background: 263 70% 10%;
    --foreground: 240 30% 96%;
    --card: 263 70% 10%;
    --card-foreground: 240 30% 96%;
    --popover: 263 70% 10%;
    --popover-foreground: 240 30% 96%;
    --primary: 240 30% 96%;
    --primary-foreground: 263 70% 20%;
    --secondary: 145 40% 25%;
    --secondary-foreground: 240 30% 96%;
    --muted: 263 30% 20%;
    --muted-foreground: 240 20% 70%;
    --accent: 263 50% 15%;
    --accent-foreground: 240 30% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 30% 96%;
    --border: 263 40% 25%;
    --input: 263 40% 25%;
    --ring: 263 70% 50%;
    --chart-1: 263 70% 60%;
    --chart-2: 145 58% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
